<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="frags :: head"></head>
<body>
<header th:replace="frags :: logo"></header>

<div class="form">
    <img th:src="@{/img/{file}(file=${speaker.imageFileName})}">
    <br/>
    <h3 th:text="|Tell us about your sale|">Buy a speaker!</h3>
    <br/>

    <form th:action="@{/save}" method="post" th:object="${sale}">
        <input type="hidden" th:field="*{speakerId}">

        <label for="buyer">Name of speaker buyer</label>
        <span class="error" th:if="${#fields.hasErrors('buyerName')}" th:errors="*{buyerName}">NAME ERROR</span>
        <br/>
        <input type="text" id="buyer" th:field="*{buyerName}">

        <br/>

        <label for="location">Location</label>
        <br/>
        <select id="location" th:field="*{location}">
            <option th:each="loc : ${locationList}"
                    th:value="${loc.id}"
                    th:text="|${loc.name} (${loc.country})|">LOCATION
            </option>
        </select>

        <br/>

        <label for="count">How many did you spot?</label>
        <span class="error" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">COUNT ERROR</span>
        <br/>
        <input type="number" id="count" th:field="*{count}">

        <br/>

        <input type="submit" value="Report sale">
    </form>
</div>
</body>
</html>